<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,700italic' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="signupStyle.css">

	<title>VietFoodGuru - A quickest way to discover Vietnamese Cuisine in SF</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="#">VietFoodGuru</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	      	<li><a href="/home"><span class="glyphicon glyphicon-log-in"></span> Guest Login</a></li>
	        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-7 text-center">
				<img src="http://www.vietflames.co.nz/file/2015/05/vietnamese-cuisine-2.jpg" class="img-thumbnail img-responsive" id="main-left-img">
				<div class="text-center" id="slogan">
					<h2>VietFoodGuru</h2>
					<h4>The Quickest Way To Explore Vietnamese Cuisine in San Francisco</h4>
				</div>
			</div>

			<div class="col-sm-5 text-center" id="signupForm">
				<form class="form-signup" method="POST" action="/signup">
					<h4 class="form-signup-heading">Craving for some Vietnamese Food?</h4>
					<h4>Join Us to Find A Restaurant</h4>
					<input type="text" name="username" class="form-control" placeholder="Email address" required autofocus style="height: 50px">
					<input type="password" name="password" class="form-control" placeholder="Password" required style="height: 50px">
					<br>
					<button class="btn btn-lg btn-danger btn-block" type="submit" style="height: 50px">Sign Up</button>
				</form>
			</div>
		</div>
	</div>

	<!-- jquery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<!-- bootstrap js -->
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>