body {
	height: 100%;
	width: 100%;
	background-size: cover;
}
.row {
	margin: 0;
}
.container-fluid {
	padding: 0;
}
/*.navbar-inverse .navbar-toggle {
	border: 1px solid white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}*/
.navbar-inverse{
	/*border: none;*/
	border-radius: 0px;
	/*background: rgba(226, 112, 7, 0.8);*/
	/*height: 75px;*/
	margin-bottom: 0;
	/*z-isndex: 1;*/
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
	/*padding-top: 30px;*/
	/*color: white;*/
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	/*padding-top: 30px;*/
	color: white;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 15px;
}
#papayaSalad-img, #summerRoll-img {
	position: relative;
}
button#topDishes, button#random {
	padding: 10px;
  font-size: 26px;
}
.option { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#lower2 .option { 
  position: absolute; 
  top: 30%; 
  left: 20%; 
  right: 20%;
}
#img-holder { 
  position: absolute; 
  top: 15%;
}
.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: white;
}

#panel {
	text-align: center;
	background-color: #F1F2F2;
	margin-top: 15px;
}

span.topOption, span.topOption2, span.goBack, span.goBack2 {
	float: right;
	margin: 10px 0px 10px 0px;
}
#lower1, #lower2 {
	padding: 0;
}
#picsHolder1, #picsolder2 {
	position: relative;
	margin: 15px 0px 15px 0px;
}
#picsHolder1 img, #picsHolder1 span, #picsHolder2 img, #picsHolder2s span, span.goBack,span.goBack2 , span.topOption2 {
	cursor: pointer;
}
#picsHolder1 span, #picsHolder2s span, span.goBack, span.goBack2, span.topOption2 {
	color: #A9A9A9;
}
.next, .back {
  border: none;
  width: 11.125rem;
  height: 2.8125rem;
  background-color: #333;
  line-height: 4.75rem;
  font: normal 15px "Gotham SSm 5r";
  text-transform: uppercase;
  color: #fff;
}
#foodDescription img {
	margin: 0 auto;
}
#foodDescription p {
	font-size: 15px;
}
#map {
	width: 100%;
	height: 500px;
}
.dropdown-menu li {
	width: 350px;
}
#question-holder {
	height: 300px;
	width: 100%;
	background-color: lightblue;
}
#question-holder h2 {
	margin: 0;
}
#restaurantList p {
	padding: 0;
	margin: 0;
}
@media (max-width: 600px) {
  button#topDishes, button#random {
		padding: 5px;
	  font-size: 16px;
	}
	.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
}
}