/*body {
	height: 100%;
	width: 100%;
	background: url("https://i.ytimg.com/vi/BSlbgFn8l2Q/maxresdefault.jpg");
	background-size: cover;
}*/
.container-fluid {
	padding: 0;
}

.navbar-inverse{
	border-radius: 0px;
}
.navbar-nav li, .navbar-default .navbar-brand {
	font-size: 18px;
	font-family: Georgia;
}
 .options {
 	padding: 10px;
  font-size: 32px;
 }
.panel {
	text-align: center;
}
.panel button {
	width: 350px;
}

#map {
	width: 100%;
	height: 500px;
}
.dropdown-menu li {
	width: 350px;
}

#restaurantList p {
	padding: 0;
	margin: 0;
}