body {
	height: 100%;
	width: 100%;
}
.row {
	margin: 0;
}
.container-fluid {
	padding: 0;
}

.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: white;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 15px;
}
#papayaSalad-img, #summerRoll-img {
	position: relative;
}
button#topDishes, button#random {
	padding: 10px;
  font-size: 26px;
}
.option { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#lower2 .option { 
  position: absolute; 
  top: 30%; 
  left: 20%; 
  right: 20%;
}
#img-holder { 
  position: absolute; 
  top: 15%;
}
.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: white;
}

#panel {
	text-align: center;
	background-color: #F1F2F2;
	margin-top: 15px;
}

/*span.topOption, span.topOption2, span.goBack, span.goBack2, span.goBack3 {
	float: right;
	margin: 10px 0px 10px 0px;
}*/
#lower1, #lower2 {
	padding: 0;
}
#picsHolder1, #picsolder2 {
	position: relative;
	margin: 15px 0px 15px 0px;
}
#picsHolder1 img, #picsHolder2 img, #options1_2 span, #goBack-holder span, #answerMe span {
	cursor: pointer;
}
#options1_2 span, #goBack-holder span, #answerMe span {
	color: #A9A9A9;
	float: right;
	margin: 10px 0px 10px 0px;
}
.next, .back {
  border: none;
  width: 11.125rem;
  height: 2.8125rem;
  background-color: #333;
  line-height: 4.75rem;
  font: normal 15px "Gotham SSm 5r";
  text-transform: uppercase;
  color: #fff;
}
#foodDescription img {
	margin: 0 auto;
}
#foodDescription p {
	font-size: 15px;
}
#map {
	width: 100%;
	height: 500px;
}
#result, #restaurantList, #answerMe {
	background-color: #F1F2F2;
}
#restaurantList h4, #restaurantList p {
	padding-left: 15px;
}
#question-holder {
	position: relative;
	/*height: 600px;*/
	width: 100%;
	background-color: lightblue;
	margin-bottom: 40px;
}
#answerMe {
	margin-top: 20px;
}
#question-holder h2 {
	margin: 0;
}
/*#holder {
	position: relative;
}*/
/*#temporary {
	position: absolute;
	left: 0
	top 10;
}*/
@media (max-width: 600px) {
  button#topDishes, button#random {
		padding: 5px;
	  font-size: 16px;
	}
	.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	}
}
/*@media (max-width: 780px) {
	#guru {
		height: 100px;
	}

}*/