body {
	height: 100%;
	width: 100%;
	background: url("https://northcountyfood.files.wordpress.com/2013/09/website-background.jpg");
	background-size: cover;
}
#visitedPlace-list {
	background: rgba(237, 237, 237, 0.5);
	margin-top: 20px;
}
h1 {
	font-family: 'Lora', serif;
	color: white;
}
#visitedPlace-list h3 {
	font-size: 28px;
	font-family: 'Lemon', cursive;
}
#visitedPlace-list h4 {
	margin: 0;
}
#visitedPlace-list p {
	padding-top: 5px;
}