body {
	height: 100%;
	width: 100%;
	background-color: #f8f8f8;
}
.content-section-a {
  padding-top: 50px;
}
label.error {
	font-size: 15px;
  color: red;
  font-style: italic;
}
.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
	color: white;
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: white;
}
#main-left-img { 
   position: relative; 
   margin-top: 50px;
   box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
#signinForm {
	margin-top: 80px;
	background: rgba(241, 241, 241, 0.5);
	padding: 20px 30px 20px 30px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
form h2 {
	color: #4f4f4f;
}

@media (max-width: 780px) {
	#signinForm {
		margin-top: 0px;
	}
}