html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.container-fluid {
	padding: 0;
}
.close-panel {
	display: inline-block;
	width: 50px;
  height: 50px;
	background-color: transparent;
  cursor: pointer;
}
.close-panel:hover {
  opacity: .3;
}
.lr {
  z-index: 1051;
  width: 1px;
  height: 50px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lr .rl {
  z-index: 1052;
  width: 1px;
  height: 50px;
  background-color: #2c3e50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.choice-header, .choice-header2, .choice-header3 {
  padding-top: 50px; 
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
}
.choice-header {
  background: url(/images/papaya_salad.jpg) no-repeat center center;
  background-size: cover;
}
.choice-header2 {
  background: url(/images/summer_roll.jpg) no-repeat center center;
  background-size: cover;
}
.choice-header3 {
  background: url(/images/pho.jpg) no-repeat center center;
  background-size: cover;
}
.title {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.title > h1, .down {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  font-size: 5em;
}

.choice-divider {
  width: 300px;
  height: 3px;
  background-color: white;
  border: 0 none;
}


.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: white;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 15px;
}

img.thumbnail-pic {
	margin-top: 5px;
	height: 166px;
	width: 220px;
}
.caption p {
	margin-bottom: 0
}

#papayaSalad-img, #summerRoll-img, #pho-img {
	position: relative;
}
.choice_button, button.left, button.right, button.find {
	padding: 10px;
  font-size: 26px;
}
.choice_button {
  min-width: 155px
}
button.left, button.right {
	margin: 10px;
	min-width: 75px;
}
.option { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#lower2 .option, #msg { 
  position: absolute; 
  top: 30%; 
  left: 20%; 
  right: 20%;
}
#img-holder { 
  position: absolute; 
  top: 15%;
}
.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px #333
}

#panel {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
	text-align: center;
	background-color: #F1F2F2;
	margin-top: 15px;
}

.next, .back , .ok, .chosen {
  border: none;
  width: 11.125rem;
  height: 2.8125rem;
  background-color: #333;
  line-height: 4.75rem;
  font: normal 15px "Gotham SSm 5r";
  text-transform: uppercase;
  color: #fff;
}
.chosen {
  margin-top: 5px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
	margin-left: 15px;
}
#foodDescription img {
	margin: 0 auto;
}
#foodDescription p {
	font-size: 15px;
}
#map {
	width: 100%;
	height: 500px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
#result, #restaurantList, #answerMe {
	background-color: #F1F2F2;
}
#result {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
  margin: 0px;
  width: 100%;
}

#restaurantList h4, #restaurantList p {
	padding-left: 15px;
}
#restaurantList p {
  margin-bottom: 0px;
}
#msg { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#msg h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	color: white;
	text-shadow: 1px 1px #333
}
.guru-question {
	margin: 0 auto;
}
#guru, .guru-question {
	height: 100px;
}

#question-holder {
	width: 100%;
	margin-bottom: 30px;
}
#answerMe {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}

.question h2, .guru-result h2 {
	font-family: 'Permanent Marker', cursive;
}
#guru_choice_pic {
	margin: 0 auto;
	margin-bottom: 10px;
}
@media (max-width: 600px) {
  .title > h1 {
    font-size: 30px;
  }
  .choice-divider {
    width: 150px;
  }
  .choice_button {
    min-width: 95px; 
		padding: 5px;
	  font-size: 16px;
	}
	.option h2, #msg h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px #333
	}
  .restaurant-thumbnail {
    min-height: 160px;
  }
  .restaurantAddress {
  min-height: 85px;
  }
  #restaurantList h4 {
    font-size: 14px;
  }
  #restaurantList p {
    font-size: 10px;
  }
}