body {
	height: 100%;
	width: 100%;
}
/* Boostrap row has min-height: 1px; */
#foodDescription, #result, .map-holder, #goBack-holder, #description_map {
	min-height: 0;
}
.row {
	margin: 0;
}
.container-fluid {
	padding: 0;
}

.navbar-inverse{
	border-radius: 0px;
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: white;
}
.navbar>.container-fluid .navbar-brand {
  margin-left: 15px;
}

img.thumbnail-pic {
	margin-top: 5px;
	height: 166px;
	width: 220px;
}
.caption p {
	margin-bottom: 0
}

.restaurant-thumbnail {
	min-height: 190px
}

#papayaSalad-img, #summerRoll-img, #pho-img {
	position: relative;
}
button#topDishes, button#random, button#favorite, button.left, button.right, button.find {
	padding: 10px;
  font-size: 26px;
}
button.left, button.right {
	margin: 10px;
	min-width: 75px;
}
.option { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#lower2 .option, #msg { 
  position: absolute; 
  top: 30%; 
  left: 20%; 
  right: 20%;
}
#img-holder { 
  position: absolute; 
  top: 15%;
}
.option h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	color: white;
	text-shadow: 1px 1px #333
}

#panel {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
	text-align: center;
	background-color: #F1F2F2;
	margin-top: 15px;
}

#lower1, #lower2, #lower3, #reminder {
	padding: 0;
}
#picsHolder1, #picsolder2 {
	position: relative;
	margin: 15px 0px 15px 0px;
}
#picsHolder1 img, #picsHolder2 img, #options1_2_3 span, #goBack-holder span, .close span {
	cursor: pointer;
}
#options1_2_3 span, #goBack-holder span, .close span {
	color: #A9A9A9;
	float: right;
	margin: 10px 0px 10px 0px;
}
.next, .back , .ok, .chosen {
  border: none;
  width: 11.125rem;
  height: 2.8125rem;
  background-color: #333;
  line-height: 4.75rem;
  font: normal 15px "Gotham SSm 5r";
  text-transform: uppercase;
  color: #fff;
}
#foodDescription img {
	margin: 0 auto;
}
#foodDescription p {
	font-size: 15px;
}
#map {
	width: 100%;
	height: 500px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
#result, #restaurantList, #answerMe {
	background-color: #F1F2F2;
}
#result {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
/*#restaurantList {
	padding-top: 20px;
}*/
#restaurantList h4, #restaurantList p {
	padding-left: 15px;
}
#msg { 
  position: absolute; 
  top: 20%; 
  left: 20%; 
  right: 20%;
}
#msg h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 45px;
	color: white;
	text-shadow: 1px 1px #333
}
.guru-question {
	margin: 0 auto;
}
#guru, .guru-question {
	height: 100px;
}
#question-holder {
	position: relative;
	height: 400px;
	width: 100%;
	background: url("http://www.foodcoopswales.org.uk/images/background.jpg");
	margin-bottom: 30px;
}
#answerMe {
	margin-top: 20px;
}
.question {
	width: 100%;
	position: absolute;
	top: 20%;
}
.guru-result {
	position: absolute;
	top: 20%;
	left: 30%;
	right: 30%;
}
.question h2, .guru-result h2 {
	font-family: 'Permanent Marker', cursive;
}
@media (max-width: 600px) {
  button#topDishes, button#random, button#favorite {
		padding: 5px;
	  font-size: 16px;
	}
	.option h2, #msg h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: white;
	text-shadow: 1px 1px #333
	}
}