body {
	height: 100%;
	width: 100%;
	background-color: #CDB99C;
}
label.error {
	font-size: 15px;
  color: red;
  font-style: italic;
}
.navbar-inverse{
	border-radius: 0px;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 20px;
	color: white;
}
.navbar-inverse .navbar-brand {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: white;
}
#main-left-img { 
   position: relative; 
   margin-top: 50px;
   box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}
#slogan { 
	background: rgba(148, 16, 31, 0.5);
  position: absolute; 
  top: 30%; 
  left: 20%; 
  right: 20%;
  padding: 15px;
}
#slogan h2 {
	font-family: 'Knewave', cursive;
	font-size: 36px;
	color: #f2dedc;
}
#slogan h4 {
	font-family: 'Gentium Basic', serif;
	color: #f2dedc;
	font-size: 24px;
}

#signupForm {
	background: rgba(241, 241, 241, 0.5);
	padding: 20px 30px 20px 30px;
	margin-top: 100px;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}

form h4 {
	color: #4f4f4f;
}
@media (max-width: 995px) {
    #slogan h4 {
        font-size: 18px;
    }
}